---
import BaseLayout from './base-layout.astro'

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <BaseLayout title={frontmatter.title}>
      <div class="project-container"> 
        
      <slot />

      <!-- Repo URL -->
      <section class="project-links">

        {frontmatter.repoUrl && (
          <a
            href={frontmatter.repoUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="project-link"
          >
            View Source Code
          </a>
        )}

      </section>

      </div>
    </BaseLayout>
  </body>
</html>